<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <app-navigation class="mt-16" theme="dark"></app-navigation>
  </section>

  <section class="flex flex-col items-center">
    <div class="prose max-w-120">
      <h2 class="mb-2 text-center leading-relaxed text-zinc-700">
        راه ارتباط با ما
      </h2>
      <p class="text-center text-zinc-500">
        نظر و درخواست خود را برای ما در قسمت پیام بنویسید.
      </p>
    </div>
  </section>

  <section class="flex flex-col items-center">
    <div
      class="relative flex w-full flex-col overflow-hidden rounded-3xl bg-zinc-50 md:flex-row"
    >
      <div class="bg-gradient-primary prose max-w-full p-6 sm:p-12">
        <h3 class="pb-2 text-white">اطلاعات تماس</h3>
        <p class="pb-8 text-white">
          ارتباط با ما و خدمات پشتیبانی 24 ساعته از طریق راه های ذیل می باشد :
        </p>
        <div class="mb-4 flex gap-6 text-white">
          <object
            data="/assets/icons/bxs-phone-call.svg"
            aria-labelledby="label-phone"
          ></object>
          <p id="label-phone" class="m-0">021-58169000</p>
        </div>
        <div class="mb-4 flex gap-6 text-white">
          <object
            data="/assets/icons/ic-sharp-email.svg"
            aria-labelledby="label-email"
          ></object>
          <p id="label-email" class="m-0">info&#64;ibpay.ir</p>
        </div>
        <div class="mb-4 flex gap-6 text-white">
          <object
            data="/assets/icons/carbon-location-filled.svg"
            aria-labelledby="label-address"
          ></object>
          <p id="label-address" class="m-0">
            تهران، میدان آرژانتین، خیابان 12 غربی، پلاک 15، طبقه 2 شرکت مدیریت
            ریسک هوشمند ایرانیان
          </p>
        </div>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d404.83644351898636!2d51.41763752997152!3d35.73380375800187!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1704699991936!5m2!1sen!2s"
        width="100%"
        height="450"
        class="border-0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
