<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <app-navigation class="mt-16" theme="dark"></app-navigation>
  </section>

  <section class="flex flex-col items-center">
    <div class="prose max-w-120 order-1 sm:order-none">
      <h2 class="text-slate-700 leading-relaxed text-center mb-2">
        راه ارتباط با ما
      </h2>
      <p class="text-zinc-500 text-center">
        نظر و درخواست خود را برای ما در قسمت پیام بنویسید.
      </p>
    </div>
  </section>

  <section
    class="flex flex-row bg-slate-50 rounded-3xl relative overflow-hidden"
  >
    <div class="prose p-6 sm:p-12 gradient rounded-3xl z-10">
      <h3 class="text-white pb-2">اطلاعات تماس</h3>
      <p class="text-white pb-8">
        ارتباط با ما و خدمات پشتیبانی 24 ساعته از طریق راه های ذیل می باشد :
      </p>
      <div class="flex gap-6 text-white mb-4">
        <object data="/assets/icons/bxs-phone-call.svg"></object>
        <p class="m-0">021-58169000</p>
      </div>
      <div class="flex gap-6 text-white mb-4">
        <object data="/assets/icons/ic-sharp-email.svg"></object>
        <p class="m-0">info&#64;ibpay.ir</p>
      </div>
      <div class="flex gap-6 text-white mb-4">
        <object data="/assets/icons/carbon-location-filled.svg"></object>
        <p class="m-0">
          تهران، میدان آرژانتین، خیابان 12 غربی، پلاک 15، طبقه 2 شرکت مدیریت
          ریسک هوشمند ایرانیان
        </p>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d404.83644351898636!2d51.41763752997152!3d35.73380375800187!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1704699991936!5m2!1sen!2s"
      width="100%"
      height="450"
      style="border: 0; margin-inline-start: -24px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
