<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col xl:h-192">
    <img
      class="absolute inset-0 -z-20 w-full"
      src="assets/n-background-header.svg"
      alt="background"
    />
    <app-navigation class="mt-16"></app-navigation>
    <article class="mt-8 flex flex-1 items-center justify-between">
      <div class="prose flex flex-col md:w-1/2">
        <h1 class="leading-relaxed text-white">
          «هوشمندانه بپردازید،<br />هوشمندتر زندگی کنید».
        </h1>
        <p class="text-justify text-3xl text-white">
          <b>شرکت دانش بنیان مدیریت ریسک هوشمند ایرانیان</b>
          ، متشکل از تیمی نخبه و جوانانی متخصص در حوزه فناوری اطلاعات، بازار
          سرمایه و سیستم بانکی است که راهکارها و حل مشکلات نهادهای مالی، شرکت
          ها، کارگزاری ها، صندوق های سرمایه گذاری و ... را در خصوص حوزه پرداخت
          فراهم کرده است.
        </p>
      </div>
      <img
        class="hidden md:block md:w-1/2"
        src="assets/n-image-banner.png"
        alt="Dashboard image"
      />
    </article>
  </section>

  <section class="flex flex-col items-center">
    <div class="rounded-full bg-zinc-100 px-13 py-5 font-bold">
      خدمات و محصولات ما
    </div>
    <div class="prose my-10 max-w-full text-center">
      <h1>زندگی هوشمند با برترین خدمات شروع می شود</h1>
    </div>
    <div
      class="grid w-full grid-cols-1 justify-items-center gap-10 lg:grid-cols-3"
    >
      <div
        class="prose grid w-full place-items-center rounded-3xl px-8 pb-6 pt-16 transition hover:bg-zinc-50"
      >
        <img class="max-w-60" src="assets/n-pardakhtyari-image.png" alt="" />
        <h2 class="text-center">خدمات پرداخت یاری</h2>
        <p class="text-justify">
          وضعیت پرداخت , تحلیل حساب مشتریان , گزارش فعالیت حساب , گزارشات دارایی
          ,وفاداری مشتری
        </p>
        <a
          class="hover:text-primary block w-full text-center"
          [routerLink]="['assistance-payment']"
        >
          بیشتر
        </a>
      </div>
      <div
        class="prose grid w-full flex-col place-items-center rounded-3xl px-8 pb-6 pt-16 transition hover:bg-zinc-50"
      >
        <img class="max-w-60" src="assets/n-ibpay-image.png" alt="" />
        <h2 class="text-center">خدمات بانکداری باز</h2>
        <p class="text-justify">
          سامانه اتصال بانکداری باز یا iBpay شرکت مدیریت ریسک هوشمند ایرانیان،
          جهت انجام صفر تا صد همه پرداختیهای هر شرکت تولیدی و خدماتی و نهادهای
          مالی بزرگ اهم از تامین سرمایه ها، شرکت های سبدگردانی و صندوق های
          سرمایه گذاری تهیه شده است .
        </p>
        <a
          class="hover:text-primary block w-full text-center"
          [routerLink]="['open-banking']"
        >
          بیشتر
        </a>
      </div>
      <div
        class="prose grid w-full flex-col place-items-center rounded-3xl px-8 pb-6 pt-16 transition hover:bg-zinc-50"
      >
        <img class="max-w-60" src="assets/n-data-image.png" alt="" />
        <h2 class="text-center">خدمات زیرساخت پردازش داده ها</h2>
        <p class="text-justify">
          وضعیت پرداخت , تحلیل حساب مشتریان , گزارش فعالیت حساب , گزارشات دارایی
          ,وفاداری مشتری
        </p>
        <a
          class="hover:text-primary block w-full text-center"
          [routerLink]="['data-analysis']"
        >
          بیشتر
        </a>
      </div>
    </div>
  </section>

  <section class="flex w-full flex-col bg-zinc-100 px-30 pb-14 pt-10">
    <div class="prose max-w-full text-center">
      <h1>بانک های متصل</h1>
    </div>
    <div
      class="mt-10 flex flex-wrap items-center justify-center gap-16 sm:justify-between"
    >
      <img class="h-w-24 w-24" src="assets/n-bank-saderat.png" alt="bank" />
      <img class="h-w-24 w-24" src="assets/n-bank-shahr.png" alt="bank" />
      <img class="h-w-24 w-24" src="assets/n-bank-tejarat.png" alt="bank" />
      <img class="h-w-24 w-24" src="assets/n-bank-sina.png" alt="bank" />
      <img class="h-w-24 w-24" src="assets/n-bank-tosee.png" alt="bank" />
      <img class="h-w-24 w-24" src="assets/n-bank-pasargad.png" alt="bank" />
      <img class="h-w-24 w-24" src="assets/n-bank-keshavarzi.png" alt="bank" />
    </div>
  </section>

  <section class="flex flex-col">
    <div class="prose max-w-full text-center">
      <h1>برای سازمان ها و کسب کار شما</h1>
    </div>
    <div class="mt-10 grid gap-16 md:grid-cols-2 xl:grid-cols-4">
      <div class="grid place-items-center gap-8 rounded-xl border p-8 shadow">
        <div
          class="flex h-15 w-15 flex-0 items-center justify-center rounded-full bg-amber-500"
        >
          <object data="assets/icons/fi_send.svg" aria-labelledby=""></object>
        </div>
        <div class="prose text-center">
          <h4 class="m-0">پشتیبانی آنلاین و مدیریت تیکت</h4>
          <p class="text-secondary mt-4 text-justify">
            همکاران واحد پشتیبانی ما همیشه در کنار شما و آماده پاسخگویی و رفع
            نیاز های هستند.
          </p>
        </div>
      </div>
      <div class="grid place-items-center gap-8 rounded-xl border p-8 shadow">
        <div
          class="flex h-15 w-15 flex-0 items-center justify-center rounded-full bg-indigo-700"
        >
          <object data="assets/icons/fi_trello.svg" aria-labelledby=""></object>
        </div>
        <div class="prose text-center">
          <h4 class="m-0">به اشتراک گذاری گزارش مالی</h4>
          <p class="text-secondary mt-4 text-justify">
            ارائه تمامی گزارشات در خصوص تمامی پرداخت ها با جزئیات کامل به همراه
            نشان دادن وضعیت پرداخت ها
          </p>
        </div>
      </div>
      <div class="grid place-items-center gap-8 rounded-xl border p-8 shadow">
        <div
          class="flex h-15 w-15 flex-0 items-center justify-center rounded-full bg-teal-500"
        >
          <object
            data="assets/icons/fi_security.svg"
            aria-labelledby=""
          ></object>
        </div>
        <div class="prose text-center">
          <h4 class="m-0">امنیت پرداخت</h4>
          <p class="text-secondary mt-4 text-justify">
            ایجاد زیرساخت امن جهت حصول اطمینان از امنیت حساب ها و تراکنش ها
          </p>
        </div>
      </div>
      <div class="grid place-items-center gap-8 rounded-xl border p-8 shadow">
        <div
          class="flex h-15 w-15 flex-0 items-center justify-center rounded-full bg-slate-500"
        >
          <object
            data="assets/icons/fi_briefcase.svg"
            aria-labelledby=""
          ></object>
        </div>
        <div class="prose text-center">
          <h4 class="m-0">راحتی و روش نوین پرداخت</h4>
          <p class="text-secondary mt-4 text-justify">
            سهولت در پرداخت ها و ایجاد فرایند بررسی تمامی مراحل پرداخت توسط
            اشخاص و تائید دو مرحله ای پرداخت ها
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <div class="prose max-w-full">
      <h1>ارزش های سازمانی</h1>
      <p class="text-justify">
        در شرکت مدیریت ریسک هوشمند ایرانیان ارزش ها شالوده سازمان ما را تشکیل می
        دهند و در این راستا حرکت می کنیم . ما به حفظ بالاترین استانداردها و
        ارایه خدمات استثنایی و هم چنین پذیزش نوآوری معتقدیم. این ارزش ها اعتماد
        را میان ما و شما شکل می دهد .
      </p>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="prose max-w-full border-s-2 border-gray-300 ps-4">
        <h2>مشتری مداری</h2>
        <p class="text-secondary text-justify">
          مشتریان ما در قلب هر کاری که انجام می دهیم قرار دارند. ما به درک
          نیازهای آن‌ها، ارائه راه‌حل‌های شخصی‌سازی‌شده، و ارائه خدمات استثنایی
          فراتر از انتظارات اختصاص داده شده‌ایم.
        </p>
      </div>
      <div class="prose max-w-full border-s-2 border-gray-300 ps-4">
        <h2>تمامیت</h2>
        <p class="text-secondary text-justify">
          ما با نهایت صداقت، شفافیت و رفتار اخلاقی رفتار می کنیم. ما معتقدیم که
          آنچه را که برای مشتریان، همکاران و ذینفعان ما درست است، انجام دهیم،
          حتی زمانی که با انتخاب های دشواری روبرو هستیم.
        </p>
      </div>
      <div class="prose max-w-full border-s-2 border-gray-300 ps-4">
        <h2>نوآوری</h2>
        <p class="text-secondary text-justify">
          ما تغییرات را می پذیریم و دائماً به دنبال راه حل های نوآورانه برای
          پاسخگویی به نیازهای در حال رشد مشتریان خود هستیم. ما کارمندان خود را
          تشویق می کنیم که خلاقانه فکر کنند، راهکار را به چالش بکشند و ایده های
          جدید را برای پیشبرد آینده بانکداری کشف کنند.
        </p>
      </div>
      <div class="prose max-w-full border-s-2 border-gray-300 ps-4">
        <h2>همکاری</h2>
        <p class="text-secondary text-justify">
          ما یک محیط کاری مشترک و فراگیر را پرورش می دهیم که در آن کار تیمی و
          تنوع مورد تجلیل قرار می گیرد. با استفاده از نقاط قوت و دیدگاه‌های
          منحصربه‌فرد کارکنان خود، نوآوری را هدایت می‌کنیم و با هم به موفقیت
          بیشتری دست می‌یابیم.
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center">
    <div class="rounded-full bg-zinc-100 px-13 py-5 font-bold">
      مقالات و اطلاعیه ها
    </div>
    <div class="mt-9 grid w-full grid-cols-1 gap-10 md:grid-cols-2">
      <div class="rounded-3xl bg-zinc-50 p-10">
        <div class="grid gap-10">
          <div class="relative">
            <img
              class="w-full rounded-3xl"
              src="assets/blog/image-1.png"
              alt=""
            />
            <div
              class="absolute bottom-6 left-6 rounded-3xl bg-white px-8 py-3"
            >
              <span class="text-lg font-bold">پرداخت یاری</span>
            </div>
          </div>
          <div class="prose grid max-w-full gap-4">
            <span class="text-secondary"> 18 مهر 1402 </span>
            <h2 class="m-0">"افشای اسرار دروازه های پرداخت اینترنتی (IPG)"</h2>
            <p class="text-secondary text-justify">
              در دنیای پر سرعت تجارت دیجیتال، دروازه‌های پرداخت اینترنتی (IPG)
              به عنوان قهرمانان گمنام ظاهر شده‌اند که تراکنش‌های آنلاین بی‌وقفه
              و امن را تسهیل می‌کنند. هدف این وبلاگ ابهام زدایی از قلمرو IPG ها،
              بررسی نقش حیاتی آنها در اکوسیستم تجارت الکترونیک، ویژگی های کلیدی
              و چشم انداز در حال تحول پرداخت های دیجیتال است.
            </p>
            <a class="place-self-end text-lg font-bold" href="#">
              ادامه مطلب
            </a>
          </div>
        </div>
      </div>
      <div class="rounded-3xl bg-zinc-50 p-10">
        <div class="grid gap-10">
          <div class="relative">
            <img
              class="w-full rounded-3xl"
              src="assets/blog/image-2.png"
              alt=""
            />
            <div
              class="absolute bottom-6 left-6 rounded-3xl bg-white px-8 py-3"
            >
              <span class="text-lg font-bold">بانکداری باز</span>
            </div>
          </div>
          <div class="prose grid max-w-full gap-4">
            <span class="text-secondary"> 18 مهر 1402 </span>
            <h2 class="m-0">
              "پیمایی در مرزهای مالی: پرده برداری از قدرت بانکداری باز"
            </h2>
            <p class="text-secondary text-justify">
              در سال‌های اخیر، چشم‌انداز مالی با ظهور بانکداری باز شاهد تغییر
              تحولی بوده است. این مفهوم انقلابی ساختارهای بانکداری سنتی را تغییر
              داده، نوآوری، رقابت و خدمات را بهبود بخشیده است. در این وبلاگ،
              پیچیدگی‌های بانکداری باز را بررسی می‌کنیم و تأثیر آن بر
              مصرف‌کنندگان، مؤسسات مالی و اکوسیستم فین‌تک گسترده‌تر را بررسی
              می‌کنیم.
            </p>
            <a class="place-self-end text-lg font-bold" href="#">
              ادامه مطلب
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
