<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <app-navigation class="mt-16" theme="dark"></app-navigation>

    <article
      class="relative mt-18 flex flex-1 items-center justify-between rounded-xl bg-slate-800 px-12 py-20"
    >
      <div class="flex justify-center md:w-1/2">
        <div class="prose flex flex-col text-white">
          <span class="text-white">
            خوش آمدید به شرکت مدیریت ریسک هوشمند ایرانیان
          </span>
          <h1 class="mt-3 text-[#C9AA74]">
            «هوشمندانه بپردازید، <br />
            هوشمندتر زندگی کنید».
          </h1>
          <p class="text-justify text-white text-opacity-60">
            شرکت دانش بنیان مدیریت هوشمند ریسک ایرانیان که به اختصار هوشمند
            نامیده می شود در سال 1397 تاسیس و عضو شورای عالی انفورماتیک و سازمان
            صنفی رایانه ای استان تهران (نصر) می باشد. این شرکت مختشکل از تیمی
            نخبه و جوانانی متخصص در حوزه فناوری اطلاعات بازار سرمایه و سیستم
            بانکی است که راهکارهای متنوعی به منظور حل مشکلات صندوق های سرمایه
            گذاری نهاد های مالی و شرکت های مشغول در حوزه بانکداری فراهم کرده
            است.
          </p>
        </div>
      </div>
      <div class="hidden items-center justify-center md:flex md:w-1/2">
        <img class="max-w-140" src="assets/n-header-about.png" alt="" />
      </div>
    </article>
  </section>

  <section class="flex flex-col items-center">
    <div class="prose max-w-120">
      <h2 class="mb-2 text-center leading-relaxed text-zinc-700">
        اهداف کلان استراتژیک (افق دوساله)
      </h2>
    </div>
    <div
      class="relative mt-14 flex w-full flex-1 items-center justify-between rounded-xl"
    >
      <div class="prose max-w-full">
        <ul class="text-secondary">
          <li>
            توسعه کسب و کار بانکداری باز با پوشش بیش از 20 بانک بزرگ خصوصی و
            دولتی کشور
          </li>
          <li>
            اتصال زبازار پول و سرمایه از طریق راه اندازی سامانه اتصال بانکداری
            باز iBpay در بیش از 50 صندوق سرمایه گذاری و 20 کارگزاری فعال در
            بازار سرمایه کشور
          </li>
          <li>
            توسعه سامانه مدیریت پایش نقدینگی و سامانه BI جهت مدیریت فعال نقدینگی
            کنترل گزارش مغایرت های بانکی و سایر خدمات بانکی
          </li>
          <li>
            توسعه سرویس های بانکداری باز و مشتریان بانکی شامل سرویس های پرداخت
            تسهیلات آنلاین سرویس های سرمایه گذاری انلاین سرویس مدیریت تسهیلات
            شرکت ها
          </li>
          <li>راه اندازی سامانه پرداخت یاری و اتصال به سامانه iBpay</li>
        </ul>
      </div>
      <img class="max-w-120" src="assets/n-habibi.png" alt="" />
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
