<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <img
      class="absolute inset-0 -z-20"
      src="assets/background-banner-2.svg"
      alt="background"
    />
    <app-navigation class="mt-16" theme="dark"></app-navigation>
    <article class="relative mt-18 flex flex-1 items-center justify-between">
      <div
        class="absolute right-0 -z-10 h-full w-3/5 rounded-3xl bg-zinc-100 bg-opacity-75"
      ></div>
      <div
        class="absolute left-0 -z-10 h-full w-1/5 rounded-3xl bg-slate-700"
      ></div>

      <div class="prose flex w-1/2 flex-col px-8 py-14">
        <h1 class="text-center leading-relaxed text-slate-700">
          گزارشات شخصی سازی شده پرداخت ها
        </h1>
        <p class="text-justify text-2xl text-zinc-500">
          iBpay مدیریت دسترسی بسیار ویژه و امنی ایجاد نموده تا کلیه مراحل ایجاد
          پرداخت، تعیین اعتبار ، دریافت امضا ازامضاداران، پرداخت، ایجاد سند
          پرداخت و اعتبارسنجی اسناد و... را عملیاتی کند.
        </p>
      </div>
      <div class="relative flex w-1/2 items-center justify-start">
        <div class="z-10 my-8 w-5/6 overflow-hidden rounded-3xl bg-white">
          <img src="assets/dashbord-image-2.png" alt="Dashboard image" />
        </div>
      </div>
    </article>
  </section>

  <section class="gradient flex w-full flex-col p-8 md:px-30 md:py-10">
    <div class="prose max-w-none">
      <h2 class="text-center text-white">مزایا تحلیل و پردازش داده های مالی</h2>
    </div>
    <div
      class="prose mx-auto mt-10 grid max-w-320 grid-cols-1 gap-20 md:grid-cols-2 lg:grid-cols-4"
    >
      <div class="grid gap-3 rounded-lg bg-white p-10">
        <h3 class="m-0 text-center">برنامه ریزی استراتژیک</h3>
        <img
          class="m-0 max-w-16 place-self-center"
          src="assets/goal-svgrepo-com.svg"
          alt=""
        />
        <p class="m-0 text-justify text-sm text-zinc-500">
          تجزیه و تحلیل داده های مالی با ارائه بینشی در مورد عملکرد و روندهای
          گذشته به برنامه ریزی استراتژیک کمک می کند و به تدوین استراتژی های
          تجاری موثر کمک می کند.
        </p>
      </div>
      <div class="grid gap-3 rounded-lg bg-white p-10">
        <h3 class="m-0 text-center">تجزیه و تحلیل هزینه</h3>
        <img
          class="m-0 max-w-16 place-self-center"
          src="assets/increase-svgrepo-com.svg"
          alt=""
        />
        <p class="m-0 text-justify text-sm text-zinc-500">
          داده‌های مالی سازمان‌ها را قادر می‌سازد تا هزینه‌ها را در سطح دانه‌ای
          تجزیه و تحلیل کنند و مناطقی را که می‌توان هزینه‌ها را بدون به خطر
          انداختن عملکرد کاهش داد، شناسایی کرد.
        </p>
      </div>
      <div class="grid gap-3 rounded-lg bg-white p-10">
        <h3 class="m-0 text-center">شاخص‌های کلیدی عملکرد (KPI)</h3>
        <img
          class="m-0 max-w-16 place-self-center"
          src="assets/minimize-svgrepo-com.svg"
          alt=""
        />
        <p class="m-0 text-justify text-sm text-zinc-500">
          داده‌های مالی به تعریف و نظارت بر KPI برای ارزیابی عملکرد افراد،
          بخش‌ها و کل سازمان کمک می‌کنند.
        </p>
      </div>
      <div class="grid gap-3 rounded-lg bg-white p-10">
        <h3 class="m-0 text-center">مدیریت ریسک</h3>
        <img
          class="m-0 max-w-16 place-self-center"
          src="assets/security-card-svgrepo-com.svg"
          alt=""
        />
        <p class="m-0 text-justify text-sm text-zinc-500">
          تجزیه و تحلیل داده‌های مالی به شناسایی ریسک‌ها و آسیب‌پذیری‌های بالقوه
          کمک می‌کند و به کسب‌وکارها اجازه می‌دهد تا اقدامات پیشگیرانه برای کاهش
          این خطرات را انجام دهند.
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
