<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <img
      class="absolute inset-0 -z-20"
      src="assets/background-banner-2.svg"
      alt="background"
    />
    <app-navigation class="mt-16" theme="dark"></app-navigation>
    <article class="flex flex-1 items-start justify-between mt-18">
      <div
        class="flex flex-col items-center bg-orange-200 bg-opacity-20 rounded-3xl py-14 px-8 w-1/2 ms-10 -me-10 z-10"
      >
        <div class="flex flex-col prose max-w-120">
          <h1 class="text-slate-700 leading-relaxed text-center">
            گزارشات شخصی سازی شده پرداخت ها
          </h1>
          <p class="text-2xl text-zinc-500 text-justify">
            iBpay مدیریت دسترسی بسیار ویژه و امنی ایجاد نموده تا کلیه مراحل
            ایجاد پرداخت، تعیین اعتبار ، دریافت امضا ازامضاداران، پرداخت، ایجاد
            سند پرداخت و اعتبارسنجی اسناد و... را عملیاتی کند.
          </p>
        </div>
      </div>
      <div
        class="flex items-center justify-end bg-slate-700 rounded-3xl w-1/2 me-10 -ms-10"
      >
        <img
          class="w-5/6 z-10"
          src="assets/dashbord-image-3.svg"
          alt="Dashboard image"
        />
      </div>
    </article>
  </section>

  <section class="flex flex-col w-full p-8 md:py-10 md:px-30 gradient">
    <div class="prose max-w-none">
      <h2 class="text-white text-center">مزایا تحلیل و پردازش داده های مالی</h2>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-20 max-w-320 mx-auto mt-10 prose"
    >
      <div class="grid gap-3 bg-white rounded-lg p-10">
        <h3 class="text-center m-0">برنامه ریزی استراتژیک</h3>
        <img
          class="place-self-center m-0"
          src="assets/goal-svgrepo-com.svg"
          alt=""
        />
        <p class="text-sm text-zinc-500 text-justify m-0">
          تجزیه و تحلیل داده های مالی با ارائه بینشی در مورد عملکرد و روندهای
          گذشته به برنامه ریزی استراتژیک کمک می کند و به تدوین استراتژی های
          تجاری موثر کمک می کند.
        </p>
        <!-- <button
          class="self-end py-3 px-8 rounded-lg bg-slate-700 text-zinc-100 text-md font-medium"
        >
          اطلاعات بیشتر
        </button> -->
      </div>
      <div class="grid gap-3 bg-white rounded-lg p-10">
        <h3 class="text-center m-0">تجزیه و تحلیل هزینه</h3>
        <img
          class="place-self-center m-0"
          src="assets/increase-svgrepo-com.svg"
          alt=""
        />
        <p class="text-sm text-zinc-500 text-justify m-0">
          داده‌های مالی سازمان‌ها را قادر می‌سازد تا هزینه‌ها را در سطح دانه‌ای
          تجزیه و تحلیل کنند و مناطقی را که می‌توان هزینه‌ها را بدون به خطر
          انداختن عملکرد کاهش داد، شناسایی کرد.
        </p>
        <!-- <button
          class="self-end py-3 px-8 rounded-lg bg-slate-700 text-zinc-100 text-md font-medium"
        >
          اطلاعات بیشتر
        </button> -->
      </div>
      <div class="grid gap-3 bg-white rounded-lg p-10">
        <h3 class="text-center m-0">شاخص‌های کلیدی عملکرد (KPI)</h3>
        <img
          class="place-self-center m-0"
          src="assets/minimize-svgrepo-com.svg"
          alt=""
        />
        <p class="text-sm text-zinc-500 text-justify m-0">
          داده‌های مالی به تعریف و نظارت بر KPI برای ارزیابی عملکرد افراد،
          بخش‌ها و کل سازمان کمک می‌کنند.
        </p>
        <!-- <button
          class="self-end py-3 px-8 rounded-lg bg-slate-700 text-zinc-100 text-md font-medium"
        >
          اطلاعات بیشتر
        </button> -->
      </div>
      <div class="grid gap-3 bg-white rounded-lg p-10">
        <h3 class="text-center m-0">مدیریت ریسک</h3>
        <img
          class="place-self-center m-0"
          src="assets/security-card-svgrepo-com.svg"
          alt=""
        />
        <p class="text-sm text-zinc-500 text-justify m-0">
          تجزیه و تحلیل داده‌های مالی به شناسایی ریسک‌ها و آسیب‌پذیری‌های بالقوه
          کمک می‌کند و به کسب‌وکارها اجازه می‌دهد تا اقدامات پیشگیرانه برای کاهش
          این خطرات را انجام دهند.
        </p>
        <!-- <button
          class="self-end py-3 px-8 rounded-lg bg-slate-700 text-zinc-100 text-md font-medium"
        >
          اطلاعات بیشتر
        </button> -->
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
