<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <app-navigation class="mt-16" theme="dark"></app-navigation>

    <article
      class="bg-gradient-primary relative mt-18 flex flex-1 items-center justify-between rounded-xl px-12 py-20"
    >
      <div class="flex justify-center md:w-1/2">
        <div class="prose flex flex-col text-white">
          <h1 class="text-center leading-relaxed text-white">
            پرداخت با خیال آسوده با پلتفرم IBPAY
          </h1>
          <p class="text-justify text-2xl">
            iBpay مدیریت دسترسی بسیار ویژه و امنی ایجاد نموده تا کلیه مراحل
            ایجاد پرداخت، تعیین اعتبار ، دریافت امضا ازامضاداران، پرداخت، ایجاد
            سند پرداخت و اعتبارسنجی اسناد و... را عملیاتی کند.
          </p>
          <div class="flex items-start gap-4">
            <img
              src="assets/n-coin-image.png"
              alt="coin"
              class="m-0 h-20 w-20"
            />
            <div class="grid gap-6">
              <h2 class="m-0 text-yellow-400">عملکرد محصول</h2>
              <p class="m-0"><b>حجم تراکنش ها :</b> 270 همت</p>
              <p class="m-0"><b>تعداد تراکنش ها :</b> +10 میلیون</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden items-center justify-center md:flex md:w-1/2">
        <img
          class="max-w-140"
          src="assets/n-image-dashboard-dark.png"
          alt="Dashboard image"
        />
      </div>
    </article>
  </section>

  <section class="flex flex-col items-center">
    <div class="rounded-full bg-zinc-100 px-13 py-5 font-bold text-zinc-700">
      نحوه عملکرد
    </div>
    <div class="mt-12 grid w-full grid-cols-4 gap-4">
      <button
        class="h-16 w-full rounded-xl bg-gray-50 font-bold"
        [ngClass]="{ 'bg-primary text-white': performance === 4 }"
        (click)="performance = 4"
      >
        ثبت درخواست پرداخت
      </button>
      <button
        class="h-16 w-full rounded-xl bg-gray-50 font-bold"
        [ngClass]="{ 'bg-primary text-white': performance === 3 }"
        (click)="performance = 3"
      >
        اعتبار سنجی پرداخت
      </button>
      <button
        class="h-16 w-full rounded-xl bg-gray-50 font-bold"
        [ngClass]="{ 'bg-primary text-white': performance === 2 }"
        (click)="performance = 2"
      >
        جریان گردش کار
      </button>
      <button
        class="h-16 w-full rounded-xl bg-gray-50 font-bold"
        [ngClass]="{ 'bg-primary text-white': performance === 1 }"
        (click)="performance = 1"
      >
        پرداخت آنلاین
      </button>
    </div>
    @switch (performance) {
      @case (1) {
        <div
          class="mt-12 flex w-full flex-col items-center p-12 md:flex-row md:justify-between"
        >
          <div class="prose mb-6 me-6 md:mb-0 md:w-2/3">
            <h2 class="text-center leading-relaxed text-zinc-700">
              پرداخت آنلاین
            </h2>
            <p class="text-center text-2xl text-zinc-500 md:text-justify">
              پس از جمع آوری امضا ها و تائید پرداخت توسط اشخاص سازمان در یک
              تائید دو مرحله ای پرداخت شما انجام می‌شود.
            </p>
          </div>
          <ng-container *ngTemplateOutlet="pic"></ng-container>
        </div>
      }
      @case (2) {
        <div
          class="mt-12 flex w-full flex-col items-center p-12 md:flex-row md:justify-between"
        >
          <div class="prose mb-6 me-6 md:mb-0 md:w-2/3">
            <h2 class="text-center leading-relaxed text-zinc-700">
              مدیریت جریان گردش کار
            </h2>
            <p class="text-center text-2xl text-zinc-500 md:text-justify">
              جریان کاری یا گردش کار روشی است که فرایندهای کسب و کارها را
              اتوماسیون و خودکار می کند. هدف از طراحی و ایجاد جریان کاری در
              سازمان ها مشارکت کارکنان در انجام پرداخت است . از امکانات مهم
              سامانه iBpay امکان تعریف جریان گردش کار و مراحل تایید دستور پرداخت
              براساس نیاز هر مجموعه هست.
            </p>
          </div>
          <ng-container *ngTemplateOutlet="pic"></ng-container>
        </div>
      }
      @case (3) {
        <div
          class="mt-12 flex w-full flex-col items-center p-12 md:flex-row md:justify-between"
        >
          <div class="prose mb-6 me-6 md:mb-0 md:w-2/3">
            <h2 class="text-center leading-relaxed text-zinc-700">
              اعتبارسنجی پرداخت
            </h2>
            <p class="text-center text-2xl text-zinc-500 md:text-justify">
              تمامی فرایند احراز هویت مشتری توسط هوش مصنوعی انجام می شود و
              افرادی که نام و نام خانوادگی شماره حساب شماره شبا و کدملی آنها
              اشتباه یا برای اشخاص دیگری باشد اعلام می کند و شما می توانید در
              صورت وجود هرگونه مغایرت آن را حذف یا اصلاح نمایید . در حقیقت
              تاکنون هیچ سرویس تطبیق شماره ملی با شماره حساب در بانک ارایه نشده
              است ولی تطبیق اسامی دریافتی با اسامی ثبت شده توسط کاربر از طریق
              هوش مصنوعی فراهم شده است.
            </p>
          </div>
          <ng-container *ngTemplateOutlet="pic"></ng-container>
        </div>
      }
      @case (4) {
        <div
          class="mt-12 flex w-full flex-col items-center p-12 md:flex-row md:justify-between"
        >
          <div class="prose mb-6 me-6 md:mb-0 md:w-2/3">
            <h2 class="text-center leading-relaxed text-zinc-700">
              ایجاد سند پرداخت
            </h2>
            <p class="text-center text-2xl text-zinc-500 md:text-justify">
              دغدغه تمامی مدیران و کارشناسان مالی انجام به موقع پرداخت ها در طول
              روز است. در سامانه iBpay قابلیت ایجاد پرداخت ها به صورت تکی و
              گروهی وجود دارد و می تواند تمامی پرداخت ها اعم از ساتنا و پایا و
              تراکنش های داخلی را انجام دهد. با iBpay محدودیت سقف پرداخت به طور
              کامل حل شده و در هر زمان و مکانی امکان انجام پرداخت ها به صورت تکی
              و در قالب دسته نا محدود در کسری از زمان قابل پرداخت می باشد.
            </p>
          </div>
          <ng-container *ngTemplateOutlet="pic"></ng-container>
        </div>
      }
    }
  </section>

  <section class="flex flex-row justify-between">
    <div class="">
      <div class="prose max-w-full">
        <h1>مهمترین دستاورد های iBpay در سال 1402 :</h1>
        <ul class="text-secondary">
          <li>
            عملیاتی کردن اتصال سامانه صندوق ها (صحرا) به سامانه iBpay بر روی
            صندوق های گنجینه اندوخته گوهر ثروت و پاداش اعتماد
          </li>
          <li>اتصال بانک تجارت و پاسارگاد برروی سامانه</li>
          <li>
            اتصال بانک سینا تجارت و پاسارگاد برای صندوق های گنجینه اندوخته گوهر
            ثروت و پاداش اعتماد
          </li>
        </ul>
      </div>
      <div class="mt-6 flex items-center">
        <div class="prose">
          <h2 class="mb-0 text-primary">+12میلیون</h2>
          <span class="text-secondary">تعداد تراکنش ها</span>
        </div>
        <div class="prose mx-12 border-x border-dashed border-primary px-12">
          <h2 class="mb-0 text-primary">99.8%</h2>
          <span class="text-secondary">نرخ موفقیت تراکنش ها</span>
        </div>
        <div class="prose">
          <h2 class="mb-0 text-primary">280 همت</h2>
          <span class="text-secondary">حجم تراکنش ها</span>
        </div>
      </div>
    </div>
    <img class="hidden max-w-96 md:block" src="assets/n-peykan.svg" alt="" />
  </section>

  <section class="flex flex-col items-center md:pt-32">
    <div
      class="bg-gradient-primary-reverse flex w-full flex-col items-center rounded-3xl p-8 md:flex-row md:justify-between md:px-24 md:py-12"
    >
      <div class="prose grid p-8">
        <h1 class="text-center leading-relaxed text-white">
          گزارش تاریخچه هوشمند،<br />
          دسته بندی سوابق<br />
          تراکنش ها
        </h1>
        <p class="text-center text-white text-opacity-87">
          در این بخش نمایی کلی از تراکنش ها و گزارشات مالی نمایش داده می شود که
          به منظور یاری رسانی به شرکت ها و سازمان ها در بحث بودجه بندی پیشرفته و
          برنامه ریزی کمک می کند.
        </p>
        <button
          class="place-self-center rounded-full bg-zinc-100 px-10 py-5 font-bold text-zinc-700"
        >
          درخواست دمو
        </button>
      </div>
      <img
        src="assets/iphone-history.png"
        alt=""
        class="block max-w-80 md:-mt-32"
      />
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>

<ng-template #pic>
  <div class="flex items-center">
    <img class="z-10 -me-30 w-56 opacity-90" src="assets/n-a-seq.png" alt="" />
    <img class="h-50 w-50" src="assets/n-a-dots.png" alt="" />
    <img class="z-20 -ms-80 h-60 w-60" src="assets/n-a-phone-1.png" alt="" />
    <img class="z-20 -ms-60 h-90 w-90" src="assets/n-a-phone-2.png" alt="" />
  </div>
</ng-template>
