<nav class="flex flex-1 items-center justify-between z-50">
  <div class="flex items-center gap-10">
    <div
      class="bg-opacity-10 rounded-full"
      [ngClass]="{
        'bg-white': theme === 'light',
        'bg-black': theme === 'dark'
      }"
    >
      <button
        class="transition h-14 px-12 rounded-full font-semibold hover:bg-opacity-10"
        [ngClass]="{
          'text-white hover:bg-white': theme === 'light',
          'text-slate-700 hover:bg-black': theme === 'dark'
        }"
        [routerLink]="['/']"
      >
        صفحه اصلی
      </button>
      <button
        class="group dropdown transition h-14 px-12 rounded-full font-semibold relative hover:bg-opacity-10"
        [ngClass]="{
          'text-white hover:bg-white': theme === 'light',
          'text-slate-700 hover:bg-black': theme === 'dark'
        }"
      >
        خدمات و محصولات
        <div
          class="group-hover:block dropdown-menu absolute top-14 -mr-13 w-full hidden h-auto z-50 backdrop-blur"
        >
          <div
            class="bg-opacity-10 pt-2 rounded-b"
            [ngClass]="{
              'bg-white': theme === 'light',
              'bg-black': theme === 'dark'
            }"
          >
            <button
              class="transition h-14 px-8 w-full rounded font-semibold hover:bg-opacity-10"
              [ngClass]="{
                'text-white hover:bg-white': theme === 'light',
                'text-slate-700 hover:bg-black': theme === 'dark'
              }"
              [routerLink]="['/open-banking']"
            >
              خدمات بانکداری باز
            </button>
            <button
              class="transition h-14 px-8 w-full rounded font-semibold hover:bg-opacity-10"
              [ngClass]="{
                'text-white hover:bg-white': theme === 'light',
                'text-slate-700 hover:bg-black': theme === 'dark'
              }"
              [routerLink]="['/assistance-payment']"
            >
              خدمات پرداخت یاری
            </button>
            <button
              class="transition h-14 px-8 w-full rounded font-semibold hover:bg-opacity-10"
              [ngClass]="{
                'text-white hover:bg-white': theme === 'light',
                'text-slate-700 hover:bg-black': theme === 'dark'
              }"
              [routerLink]="['/data-analysis']"
            >
              پردازش داده ها
            </button>
          </div>
        </div>
      </button>
      <button
        class="transition h-14 px-12 rounded-full font-semibold hover:bg-opacity-10"
        [ngClass]="{
          'text-white hover:bg-white': theme === 'light',
          'text-slate-700 hover:bg-black': theme === 'dark'
        }"
        [routerLink]="['/contact-us']"
      >
        ارتباط با ما
      </button>
      <button
        class="transition h-14 px-12 rounded-full font-semibold hover:bg-opacity-10"
        [ngClass]="{
          'text-white hover:bg-white': theme === 'light',
          'text-slate-700 hover:bg-black': theme === 'dark'
        }"
      >
        درباره ما
      </button>
    </div>
  </div>
  <div class="flex items-center">
    <img class="w-16 h-16" src="assets/logo.svg" alt="Logo Hoshmand Risk" />
  </div>
</nav>
