<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <img
      class="absolute inset-0 -z-20"
      src="assets/background-banner-2.svg"
      alt="background"
    />
    <app-navigation class="mt-16" theme="dark"></app-navigation>
    <article class="flex flex-1 items-center justify-between mt-18 relative">
      <div
        class="absolute h-full w-3/5 bg-zinc-100 bg-opacity-75 rounded-3xl right-0 -z-10"
      ></div>
      <div
        class="absolute h-full w-1/5 bg-slate-700 rounded-3xl left-0 -z-10"
      ></div>

      <div class="flex flex-col py-14 px-8 w-1/2 prose">
        <h1 class="text-slate-700 leading-relaxed text-center">
          خدمات پرداخت یاری
        </h1>
        <p class="text-2xl text-zinc-500 text-justify">
          درگاه پرداخت اینترنتی (IPG) فناوری است که با اتصال ایمن یک وب سایت
          تجارت الکترونیک یا سرویس آنلاین به شبکه پردازش پرداخت، تراکنش های
          آنلاین را تسهیل می کند. وظیفه اصلی آن فعال کردن مجوز و پردازش پرداخت
          های الکترونیکی است و اطمینان حاصل می کند که اطلاعات مالی حساس به طور
          ایمن بین مشتری، تاجر و پردازشگر پرداخت منتقل می شود.
        </p>
      </div>
      <div class="flex items-center justify-start w-1/2">
        <div class="bg-white rounded-3xl w-5/6 z-10 p-8 my-8">
          <img src="assets/dashbord-image-5.svg" alt="Dashboard image" />
        </div>
      </div>
    </article>
  </section>

  <section
    class="grid grid-cols-1 sm:grid-cols-2 gap-8 place-items-center mt-12"
  >
    <div class="prose max-w-120">
      <h2 class="text-slate-700 leading-relaxed text-center">
        انتقال امن داده ها
      </h2>
      <p class="text-zinc-500 text-center">
        دروازه پرداخت اینترنتی اطلاعات حساس پرداخت مشتری را رمزگذاری می کند تا
        از انتقال ایمن از طریق اینترنت اطمینان حاصل کند. این رمزگذاری معمولاً با
        استفاده از فناوری هایی مانند SSL (Secure Socket Layer) یا TLS (Transport
        Layer Security) انجام می شود.
      </p>
    </div>
    <img src="assets/security-pc.png" alt="" class="w-64 h-64" />
  </section>

  <section
    class="grid grid-cols-1 sm:grid-cols-2 gap-8 place-items-center relative"
  >
    <img
      src="assets/arrow-1.svg"
      alt=""
      class="hidden sm:block absolute bottom-0 -mb-8 order-2"
    />
    <img src="assets/sync-data.png" alt="" class="w-64 h-64 order-1" />
    <div class="prose max-w-120">
      <h2 class="text-slate-700 leading-relaxed text-center">
        IPG داده ها را به پردازشگر پرداخت ارسال می کند
      </h2>
      <p class="text-zinc-500 text-center">
        سپس دروازه پرداخت اینترنتی جزئیات تراکنش را به پردازشگر پرداخت ارسال می
        کند. پردازشگر پرداخت یک موسسه مالی یا یک سرویس شخص ثالث است که مسئول
        مدیریت تراکنش است.
      </p>
    </div>
  </section>

  <section
    class="grid grid-cols-1 sm:grid-cols-2 gap-8 place-items-center relative sm:mt-12"
  >
    <img
      src="assets/arrow-2.svg"
      alt=""
      class="hidden sm:block absolute top-0 -mt-4"
    />
    <img
      src="assets/arrow-3.svg"
      alt=""
      class="hidden sm:block absolute bottom-0 -mb-32 -ml-80"
    />
    <div class="prose max-w-120">
      <h2 class="text-slate-700 leading-relaxed text-center">درخواست مجوز</h2>
      <p class="text-zinc-500 text-center">
        پردازشگر پرداخت یک درخواست مجوز به بانک مشتری یا صادرکننده کارت اعتباری
        ارسال می کند تا جزئیات تراکنش را تأیید کند و اطمینان حاصل کند که مشتری
        دارای وجوه یا اعتبار کافی است.
      </p>
    </div>
    <div class="prose max-w-120">
      <h2 class="text-slate-700 leading-relaxed text-center">پاسخ مجوز</h2>
      <p class="text-zinc-500 text-center">
        بانک یا صادرکننده کارت اعتباری مشتری یک پاسخ مجوز به پردازشگر پرداخت
        ارسال می کند که نشان می دهد آیا تراکنش تایید یا رد شده است.
      </p>
    </div>
  </section>

  <section class="grid grid-cols-1 place-items-center relative sm:mt-12">
    <div class="prose max-w-120">
      <h2 class="text-slate-700 leading-relaxed text-center">تایید تراکنش</h2>
      <p class="text-zinc-500 text-center">
        در صورت تایید تراکنش، پردازشگر پرداخت به درگاه پرداخت اینترنتی اطلاع
        می‌دهد که به نوبه خود به تاجر اطلاع می‌دهد.
      </p>
    </div>
  </section>

  <section class="grid grid-cols-1 place-items-center relative sm:mt-12">
    <img
      src="assets/arrow-4.svg"
      alt=""
      class="hidden sm:block absolute top-0 -mt-24 -mr-100"
    />
    <img src="assets/check-pc.png" alt="" class="w-64 h-64" />
  </section>

  <section
    class="grid grid-cols-1 sm:grid-cols-2 gap-8 place-items-center relative sm:mt-12"
  >
    <img
      src="assets/arrow-5.svg"
      alt=""
      class="hidden sm:block absolute top-0"
    />
    <div class="prose max-w-120">
      <h2 class="text-slate-700 leading-relaxed text-center">تکمیل تراکنش</h2>
      <p class="text-zinc-500 text-center">
        تاجر معامله را تکمیل می کند و مشتری تأییدیه پرداخت موفقیت آمیز را دریافت
        می کند.
      </p>
    </div>
    <img src="assets/pay.png" alt="" class="w-50 h-50" />
  </section>

  <section
    class="grid grid-cols-1 sm:grid-cols-2 gap-8 place-items-center relative"
  >
    <img
      src="assets/arrow-6.svg"
      alt=""
      class="hidden sm:block absolute bottom-0 -mb-12"
    />
    <img src="assets/mony.png" alt="" class="w-50 h-50 order-2 sm:order-none" />
    <div class="prose max-w-120 order-1 sm:order-none">
      <h2 class="text-slate-700 leading-relaxed text-center">تسویه وجوه</h2>
      <p class="text-zinc-500 text-center">
        تاجر معامله را تکمیل می کند و مشتری تأییدیه پرداخت موفقیت آمیز را دریافت
        می کند.
      </p>
    </div>
  </section>

  <section class="flex flex-col items-center sm:mt-12">
    <div class="prose max-w-120">
      <h2 class="text-slate-700 leading-relaxed text-center mb-2">
        درگاه پرداخت هوشمند ریسک
      </h2>
      <p class="text-zinc-500 text-center">
        امکان مدیریت تراکنش‌های مالی در بستر وب را به راحتی امکان‌پذیر می‌کند و
        با پیاده‌سازی و اجرای راه‌کارهای هوشمندانه، باعث افزایش درصد تراکنش‌های
        موفق و سوددهی بیش‌تر می‌شود.
      </p>
    </div>
    <div class="grid grid-cols-3 gap-12 mt-20">
      <div class="flex flex-col items-center max-w-60">
        <img class="max-w-40" src="assets/clock.png" alt="" />
        <div class="prose text-center mt-14">
          <h3>پشتیبانی ۲۴/۷</h3>
          <p class="text-zinc-500 text-justify mt-6">
            هفت روزِ هفته، با پشتیبانی ۲۴ ساعته‌ی هوشمند ریسک، آماده‌ی پاسخ‌گویی
            و راهنمایی به کاربران
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center max-w-60">
        <img class="max-w-40" src="assets/phone.png" alt="" />
        <div class="prose text-center mt-14">
          <h3>تضمین پرداخت</h3>
          <p class="text-zinc-500 text-justify mt-6">
            درگاه پرداخت هوشمند ریسک، پرداخت اینترنتی، سریع و امن و آسان را به
            مشتریان ارئه می‌دهد. هدایت هوشمند در هوشمند ریسک کاربران به بهترین
            درگاه پرداخت با بالاترین میزان تراکنش‌های موفق هدایت می‌شوند.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center max-w-60">
        <img class="max-w-40" src="assets/phone-card.png" alt="" />
        <div class="prose text-center mt-14">
          <h3>امنیتِ پرداخت</h3>
          <p class="text-zinc-500 text-justify mt-6">
            درگاه امن هوشمند ریسک، ضمانتی برای امنیت اطلاعات بانکی افراد، هنگام
            پرداخت‌‌های اینترنتی آن‌هاست.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
