<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <app-navigation class="mt-16" theme="dark"></app-navigation>
    <article
      class="bg-gradient-primary relative mt-18 flex flex-1 items-center justify-between rounded-xl px-12 py-20"
    >
      <div class="flex justify-center md:w-1/2">
        <div class="prose flex flex-col text-white">
          <h1 class="text-center leading-relaxed text-white">
            خدمات پرداخت یاری
          </h1>
          <p class="text-justify text-2xl">
            درگاه پرداخت اینترنتی (IPG) فناوری است که با اتصال ایمن یک وب سایت
            تجارت الکترونیک یا سرویس آنلاین به شبکه پردازش پرداخت، تراکنش های
            آنلاین را تسهیل می کند. وظیفه اصلی آن فعال کردن مجوز و پردازش پرداخت
            های الکترونیکی است و اطمینان حاصل می کند که اطلاعات مالی حساس به طور
            ایمن بین مشتری، تاجر و پردازشگر پرداخت منتقل می شود.
          </p>
        </div>
      </div>
      <div class="hidden items-center justify-center md:flex md:w-1/2">
        <img
          class="max-w-140"
          src="assets/n-image-dashboard-ipg.png"
          alt="Dashboard image"
        />
      </div>
    </article>
  </section>

  <section
    class="mt-12 grid grid-cols-1 place-items-center gap-8 sm:grid-cols-2"
  >
    <div class="prose max-w-120">
      <h2 class="text-center leading-relaxed text-zinc-700">
        انتقال امن داده ها
      </h2>
      <p class="text-center text-zinc-500">
        دروازه پرداخت اینترنتی اطلاعات حساس پرداخت مشتری را رمزگذاری می کند تا
        از انتقال ایمن از طریق اینترنت اطمینان حاصل کند. این رمزگذاری معمولاً با
        استفاده از فناوری هایی مانند SSL (Secure Socket Layer) یا TLS (Transport
        Layer Security) انجام می شود.
      </p>
    </div>
    <img src="assets/security-pc.png" alt="" class="h-64 w-64" />
  </section>

  <section
    class="relative grid grid-cols-1 place-items-center gap-8 sm:grid-cols-2"
  >
    <img
      src="assets/arrow-1.svg"
      alt=""
      class="absolute bottom-0 order-2 -mb-8 hidden max-w-60 sm:block"
    />
    <img src="assets/sync-data.png" alt="" class="order-1 h-64 w-64" />
    <div class="prose max-w-120">
      <h2 class="text-center leading-relaxed text-zinc-700">
        IPG داده ها را به پردازشگر پرداخت ارسال می کند
      </h2>
      <p class="text-center text-zinc-500">
        سپس دروازه پرداخت اینترنتی جزئیات تراکنش را به پردازشگر پرداخت ارسال می
        کند. پردازشگر پرداخت یک موسسه مالی یا یک سرویس شخص ثالث است که مسئول
        مدیریت تراکنش است.
      </p>
    </div>
  </section>

  <section
    class="relative grid grid-cols-1 place-items-center gap-8 sm:mt-12 sm:grid-cols-2"
  >
    <img
      src="assets/arrow-2.svg"
      alt=""
      class="absolute top-0 -mt-4 hidden max-w-60 sm:block"
    />
    <img
      src="assets/arrow-3.svg"
      alt=""
      class="absolute bottom-0 -mb-32 -ml-80 hidden max-w-30 sm:block"
    />
    <div class="prose max-w-120">
      <h2 class="text-center leading-relaxed text-zinc-700">درخواست مجوز</h2>
      <p class="text-center text-zinc-500">
        پردازشگر پرداخت یک درخواست مجوز به بانک مشتری یا صادرکننده کارت اعتباری
        ارسال می کند تا جزئیات تراکنش را تأیید کند و اطمینان حاصل کند که مشتری
        دارای وجوه یا اعتبار کافی است.
      </p>
    </div>
    <div class="prose max-w-120">
      <h2 class="text-center leading-relaxed text-zinc-700">پاسخ مجوز</h2>
      <p class="text-center text-zinc-500">
        بانک یا صادرکننده کارت اعتباری مشتری یک پاسخ مجوز به پردازشگر پرداخت
        ارسال می کند که نشان می دهد آیا تراکنش تایید یا رد شده است.
      </p>
    </div>
  </section>

  <section class="relative grid grid-cols-1 place-items-center sm:mt-12">
    <div class="prose max-w-120">
      <h2 class="text-center leading-relaxed text-zinc-700">تایید تراکنش</h2>
      <p class="text-center text-zinc-500">
        در صورت تایید تراکنش، پردازشگر پرداخت به درگاه پرداخت اینترنتی اطلاع
        می‌دهد که به نوبه خود به تاجر اطلاع می‌دهد.
      </p>
    </div>
  </section>

  <section class="relative grid grid-cols-1 place-items-center sm:mt-12">
    <img
      src="assets/arrow-4.svg"
      alt=""
      class="absolute top-0 -mr-100 -mt-24 hidden max-w-30 sm:block"
    />
    <img src="assets/check-pc.png" alt="" class="h-64 w-64" />
  </section>

  <section
    class="relative grid grid-cols-1 place-items-center gap-8 sm:mt-12 sm:grid-cols-2"
  >
    <img
      src="assets/arrow-5.svg"
      alt=""
      class="absolute top-0 hidden max-w-60 sm:block"
    />
    <div class="prose max-w-120">
      <h2 class="text-center leading-relaxed text-zinc-700">تکمیل تراکنش</h2>
      <p class="text-center text-zinc-500">
        تاجر معامله را تکمیل می کند و مشتری تأییدیه پرداخت موفقیت آمیز را دریافت
        می کند.
      </p>
    </div>
    <img src="assets/pay.png" alt="" class="h-50 w-50" />
  </section>

  <section
    class="relative grid grid-cols-1 place-items-center gap-8 sm:grid-cols-2"
  >
    <img
      src="assets/arrow-6.svg"
      alt=""
      class="absolute bottom-0 -mb-12 hidden max-w-60 sm:block"
    />
    <img src="assets/mony.png" alt="" class="order-2 h-50 w-50 sm:order-none" />
    <div class="prose order-1 max-w-120 sm:order-none">
      <h2 class="text-center leading-relaxed text-zinc-700">تسویه وجوه</h2>
      <p class="text-center text-zinc-500">
        تاجر معامله را تکمیل می کند و مشتری تأییدیه پرداخت موفقیت آمیز را دریافت
        می کند.
      </p>
    </div>
  </section>

  <section class="flex flex-col items-center sm:mt-12">
    <div class="prose max-w-120">
      <h2 class="mb-2 text-center leading-relaxed text-zinc-700">
        درگاه پرداخت هوشمند ریسک
      </h2>
      <p class="text-center text-zinc-500">
        امکان مدیریت تراکنش‌های مالی در بستر وب را به راحتی امکان‌پذیر می‌کند و
        با پیاده‌سازی و اجرای راه‌کارهای هوشمندانه، باعث افزایش درصد تراکنش‌های
        موفق و سوددهی بیش‌تر می‌شود.
      </p>
    </div>
    <div class="mt-20 grid grid-cols-3 gap-12">
      <div class="flex max-w-60 flex-col items-center">
        <img class="max-w-40" src="assets/clock.png" alt="" />
        <div class="prose mt-14 text-center">
          <h3>پشتیبانی ۲۴/۷</h3>
          <p class="mt-6 text-justify text-zinc-500">
            هفت روزِ هفته، با پشتیبانی ۲۴ ساعته‌ی هوشمند ریسک، آماده‌ی پاسخ‌گویی
            و راهنمایی به کاربران
          </p>
        </div>
      </div>
      <div class="flex max-w-60 flex-col items-center">
        <img class="max-w-40" src="assets/phone.png" alt="" />
        <div class="prose mt-14 text-center">
          <h3>تضمین پرداخت</h3>
          <p class="mt-6 text-justify text-zinc-500">
            درگاه پرداخت هوشمند ریسک، پرداخت اینترنتی، سریع و امن و آسان را به
            مشتریان ارئه می‌دهد. هدایت هوشمند در هوشمند ریسک کاربران به بهترین
            درگاه پرداخت با بالاترین میزان تراکنش‌های موفق هدایت می‌شوند.
          </p>
        </div>
      </div>
      <div class="flex max-w-60 flex-col items-center">
        <img class="max-w-40" src="assets/phone-card.png" alt="" />
        <div class="prose mt-14 text-center">
          <h3>امنیتِ پرداخت</h3>
          <p class="mt-6 text-justify text-zinc-500">
            درگاه امن هوشمند ریسک، ضمانتی برای امنیت اطلاعات بانکی افراد، هنگام
            پرداخت‌‌های اینترنتی آن‌هاست.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
