<div class="border-t border-zinc-200 w-full"></div>
<div class="flex justify-between mt-12">
  <div class="grid prose max-w-none">
    <h2>مدیریت ریسک هوشمند ایرانیان</h2>
    <p class="text-zinc-500">توضیحات</p>
  </div>
  <div class="grid gap-4">
    <img
      class="justify-self-end mb-4"
      src="assets/logo.svg"
      alt=""
      width="62px"
      height="62px"
    />
    <div class="flex items-center justify-self-end" dir="ltr">
      <object class="me-2" data="assets/icons/m_mail.svg"></object>
      <span class="text-zinc-500"> info&#64;ibpay.ir </span>
    </div>
    <div class="flex items-center justify-self-end" dir="ltr">
      <object class="me-2" data="assets/icons/m_call.svg"></object>
      <span class="text-zinc-500"> 021 88866882 </span>
    </div>
  </div>
</div>
