<div class="border-t border-zinc-200 w-full"></div>
<div class="flex justify-between mt-8">
  <div class="grid prose">
    <div class="flex items-center">
      <img
        class="m-0 me-4"
        src="assets/logo.svg"
        alt=""
        width="62px"
        height="62px"
      />
      <h2 class="m-0">
        مدیریت ریسک <br />
        هوشمند ایرانیان
      </h2>
    </div>
    <p class="text-zinc-500 text-justify">
      شرکت دانش بنیان مدیریت ریسک هوشمند ایرانیان، متشکل از تیمی نخبه و جوانانی
      متخصص در حوزه فناوری اطلاعات، بازار سرمایه و سیستم بانکی است که راهکارها و
      حل مشکلات نهادهای مالی، شرکت ها، کارگزاری ها، صندوق های سرمایه گذاری و ...
      را در خصوص حوزه پرداخت فراهم کرده است.
    </p>
  </div>
</div>
<div class="flex flex-col md:flex-row justify-between text-slate-700 mt-6">
  <span class="">© 2023, All Rights Reserved</span>
  <div class="flex items-center flex-wrap" dir="ltr">
    <span class="me-8">About us</span>
    <span class="me-8">Contact</span>
    <span class="me-8">Privacy policy</span>
    <span class="me-8">Sitemap</span>
    <span class="me-8">Terms of Use</span>
  </div>
</div>
