<div class="w-full border-t border-zinc-200"></div>
<div class="mt-8 flex justify-between">
  <div class="prose grid">
    <div class="flex items-center">
      <img
        class="m-0 me-4 h-20 w-20"
        src="assets/n-logo.png"
        alt="Logo Hoshmand Risk"
      />
      <h3 class="m-0 text-center">
        مدیریت ریسک <br />
        هوشمند ایرانیان
      </h3>
    </div>
    <p class="text-justify text-zinc-500">
      شرکت دانش بنیان مدیریت ریسک هوشمند ایرانیان، متشکل از تیمی نخبه و جوانانی
      متخصص در حوزه فناوری اطلاعات، بازار سرمایه و سیستم بانکی است که راهکارها و
      حل مشکلات نهادهای مالی، شرکت ها، کارگزاری ها، صندوق های سرمایه گذاری و ...
      را در خصوص حوزه پرداخت فراهم کرده است.
    </p>
  </div>
</div>
<div class="mt-6 flex flex-col justify-between text-zinc-700 md:flex-row">
  <span class="">© 2023, All Rights Reserved</span>
  <div class="flex flex-wrap items-center" dir="ltr">
    <span class="me-8">درباره ما</span>
    <span class="me-8">تماس با ما</span>
    <span class="me-8">حفظ حریم خصوصی</span>
    <span class="me-8">شرایط و ضوابط</span>
  </div>
</div>
