<div class="flex w-full flex-auto flex-col">
  <section class="flex flex-col">
    <app-navigation class="mt-4 sm:mt-16" theme="dark"></app-navigation>
  </section>

  <section class="flex flex-row">
    <div class="flex w-1/2 flex-col items-center justify-center">
      <span class="text-10xl font-bold leading-tight text-primary">404</span>
      <h3 class="text-1xl font-bold text-zinc-800">صفحه ای یافت نشد</h3>
      <p class="mt-8 text-gray-400">
        این صفحه در روند توسعه می باشد و بار گذاری نشده است.
      </p>
      <div class="mt-8">
        <button
          class="rounded-full bg-primary px-13 py-4 text-white"
          [routerLink]="['/']"
        >
          صفحه اصلی
        </button>
      </div>
    </div>
    <div class="flex w-1/2">
      <img src="assets/frame.png" alt="" />
    </div>
  </section>

  <section class="flex flex-col">
    <app-footer></app-footer>
  </section>
</div>
